<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UofT Escape Room Form</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="icon" href="/images/favicon.jpg?v=1" type="image/jpeg">
</head>
<body>
  <div class="container">
    <h1>Escape Room Invasive Plant Strategies</h1>
    <form id="pollinatorForm" action="/submit" method="POST">
      <label for="response">Here is your opportunity to brainstorm! Think of some ways to minimize the invasive species harmful impact on the ecosystem. You may use the identity of our pollinator as a guide, or note other preventative measures biologists may use to stop its spread.</label>
      <p>Once submitted, you can view other the participants' responses.</p>
      <textarea id="response" name="response" required></textarea>
      <button type="submit">Submit</button>
    </form>
    <div id="responses" style="display: none;">
		<h2>All Responses</h2>
	</div>
  </div>
  <script src="/script.js"></script>
</body>
</html>
